*{
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    font-family: Arial, sans-serif; /* Modern, readable font */
}

.container {
    max-width: 800px; /* Limiting max width for better readability */
    margin: 0 auto; /* Centering the container */
    padding: 20px; /* Padding around the content */
}
.navbar {
    background-color: #343a40;
    padding: 10px 0;
}

.navbar nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.navbar nav ul li {
    display: inline-block;
    margin-right: 20px;
}

.navbar nav ul li a {
    color: #f8f9fa;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
}

.navbar nav ul li a:hover {
    background-color: #495057;
    border-radius: 5px;
}

.welcome-section{
    margin-top: 25px; /* Space between sections */
    background-color: #222; /* Slightly lighter dark background for sections */
    padding: 40px 140px 120px 50px; /* Padding inside sections */
    border-radius: 8px; /* Rounded corners for the sections */
}
.welcome-section h1{
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    border-bottom:2px solid #333;
}
.welcome-section h2{
    margin-bottom: 10px;
    display: flex;
    justify-content: left;
}
.welcome-section p{
    margin-bottom: 40px;
    display: flex;
    justify-content: left;
}

.welcome-section .info-section h2 a{
    text-decoration: none;
    color: #4caf4c;
}

.welcome-section .info-section h2 a:hover{
    text-decoration: underline;
}

.clocks {
    margin-top: 20px;
}

footer {
    background-color: #121212;
    color: #e0e0e0;
    padding: 20px 0;
    text-align: center;
    margin: 20px 120px;
}

footer .row {
    justify-content: center;
    align-items: center;
}
footer .dev-heading{
    text-align: center;
    border-bottom: 2px solid #333; /* Subtle underline for the header */
    padding-bottom: 10px; /* Space below the text */
    margin: 0 300px 10px 300px;
}

footer .card {
    background-color: #333;
    color: #f8f9fa;
    margin: 160px;
    padding: 9px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    font-size: large;
    line-height: 25px;
}
footer .card a{
    margin-top: 10px;
    color: #4caf4c;
    font-weight: bold;
    text-decoration: none;
}
footer .card a:hover{
    font-size: large;
    text-decoration: underline;
}

footer .card-body .check-out{
    font-weight: bold;
    margin-bottom: 10px;
}
