
body {
    background-color: #121212; /* Dark background for the theme */
    color: #e0e0e0; /* Light grey text for readability */
    font-family: Arial, sans-serif; /* Modern, readable font */
}

.container {
    max-width: 800px; /* Limiting max width for better readability */
    margin: 0 auto; /* Centering the container */
    padding: 20px; /* Padding around the content */
}
.navbar {
    background-color: #343a40;
    padding: 10px 0;
}

.navbar nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.navbar nav ul li {
    display: inline-block;
    margin-right: 20px;
}

.navbar nav ul li a {
    color: #f8f9fa;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
}

.navbar nav ul li a:hover {
    background-color: #495057;
    border-radius: 5px;
}

#clock-task-container{
    margin: 10px;
    margin-top: 15px;
}
#clock-task-container input{
    font-weight: 300;
    font-size: larger;
    padding: 6px 50px;
    border-radius: 6px;
    text-align: center; 
}
#clock-task-container input::placeholder{
    font-weight: bold;
    color: #f8f9fa;
}
#clock-task-container button{
    border: 2px solid #050303;
    padding: 10px 5px;
    border-radius:5px;
    color:#e0e0e0;
    background-color:#656e66 ;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    width: 110px; /* Fixed width added */
}

/* do something about what to do after the user writes the queries? how should the text in the inputbar should look? And how ???  */
#clock-task-container button:hover{
    padding: 10px 5px;
    font-weight: bold;
    font-size: large;
    border-radius: 5px;
    color: white;
    background-color:#4caf50 ;
    transition: background-color 0.3s ease;
    cursor: pointer;
    width: 110px; /* Fixed width added */
}


#clock-task-container input{
    font-weight: 300;
    font-size: larger;
    background-color: #495057;
    border: 2px solid #4caf50;
    padding: 6px 50px;
    border-radius: 6px;
    margin-top: 10px;
    margin-bottom: 10px;
}
div.clock{
    background-color: red;
    border: #050303;
    font-weight: bold;
    color: #e0e0e0;
    display: flex;
    margin-bottom: 4px;
    min-width: 300px, 3px;
}
